#sidebar {
  position: fixed;
  top: 0;
  left: 0;

  width: $sidebar-width;
  height: 100vh;
  background: $app-sidebar-bg;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1rem 0;
  gap: 1.5rem;

  z-index: 100;

  .sidebar-item {
    width: 40px;
    height: 40px;
    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    cursor: pointer;
    transition: background 0.3s ease;

    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }

    img {
      width: 25px;
      height: 25px;
      filter: brightness(0) invert(1);
    }

    &::after {
      content: attr(data-label);
      position: absolute;
      left: 60px;

      background: rgba(0, 0, 0, 0.8);
      color: white;

      padding: 6px 12px;
      border-radius: 6px;

      font-size: 14px;

      white-space: nowrap;

      opacity: 0;
      pointer-events: none;

      transition: opacity 0.2s ease;
    }

    &:hover::after {
      opacity: 1;
    }
  }
}


#sidebar-group-external {
  position: absolute;
  top: 5%;
  left: calc(#{$sidebar-width});
  background: $card-bg;
  display: flex;
  flex-direction: column;
  gap: 2px;
  z-index: 9999;
  border-radius: 10px;
  padding: 15px 15px;
}

#sidebar-group-external.hidden {
  display: none;
}



.sidebar-group-external-item {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 10px;
  transition: background 0.3s ease;




}

.sidebar-group-external-item img{
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(1);
  cursor: pointer;
}

.sidebar-group-external-item:hover {
  background: rgba(255, 255, 255, 0.1);
}



.sidebar-group-header{
  width: 40px;
  height: 40px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  transition: background 0.3s ease;


  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }


  img{
    width: 24px;
    height: 24px;
    filter: brightness(0) invert(1);
    cursor: pointer;
  }
}



