{% extends 'base.html.twig' %}



{% block body %}
    <div id="sidebar"></div>
{% endblock %}


{% block javascripts %}
    <script>
        fetch('/web/sidebar')
            .then(res => res.json())
            .then(data => {
                const sidebar = document.getElementById('sidebar');
                data.forEach(item => {
                    const link = document.createElement('a');
                    link.href = item.url;
                    link.className = 'sidebar-item';
                    link.dataset.label = item.label;
                    link.innerHTML = `<img src="${item.icon}" alt="${item.label}" />`;
                    sidebar.appendChild(link);
                });
            })
            .catch(err => console.error('Ошибка загрузки меню:', err));
    </script>
    <script type="text/babel" src="{{ asset('react/App.js') }}"></script>
{% endblock %}
